<header>
  <nav>
    <a href="/" class="logo">Tech Blog<span>.</span></a>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <a href="/dashboard">Dashboard</a>
    {{/if}}
    <!-- If the user is logged in, hide the login button and show logout. Do the reverse if the user is logged out. -->
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
</header>