{{> navbar }}

<article>
  <h1>
    Edit post
  </h1>
  <form class="edit-post-form">
    <div>
      <label for="post-title">Title</label>
      <input name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div>
      <label for="post-text">Text</label>
      <textarea id="post-text" rows="4">{{post.post_text}}</textarea>
    </div>
    <button type="submit">Save post</button>
    <button type="button" class="delete-button" id="delete-post-btn">Delete post</button>
  </form>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>