{{> navbar }}

<!-- Loop through posts and display in a list -->
<div>
  <ul class="post-list">
    {{#each posts as |post|}}
      <li>
      {{> post-info post }}
    </li>
    {{/each}}
  </ul>
</div>