<div class="form-container">
  <a href="/" class="logo">Tech Blog<span>.</span></a>
  
  <form id='login-form'>
  <div class="form-group">
    <label for="username-login">Username</label>
    <input type="username" class="input" id="username-login" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="password-login">Password</label>
    <input type="password" class="input" id="password-login" placeholder="Password">
  </div>
  <button type="submit">Submit</button>
</form>
<a href="/signup">Sign up instead</a>
</div>

<script src="/javascript/login.js"></script>