:root {
  --dark-grey: #202020;
  --medium-grey: #606060;
  --light-grey: #909090;
  --lightest-grey: #C1C1C1;
  --green: #3BF970;
  --red: #EF0C0C;

  --body: 'Saira', sans-serif;
}

/* Main */
body, input, button, textarea {
  font-family: var(--body);
}

body {
  font-family: var(--body);
  overflow-x: hidden;
  margin: 0;
}

main {
  padding: 0 16px 64px 16px;
}

.container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

h1 {
  font-size: 1.75em;
  line-height: 2.5em;
  margin: 42px 0 0 0;
}

h2 {
  color: var(--dark-grey);
  font-size: 1.5em;
  line-height: 2.25em;
  margin: 0;
}

h3 {
  font-size: 1.1em;
  margin-bottom: 8px;
}

p {
  color: var(--medium-grey);
  line-height: 1.5em;
  margin-top: 0;
}


a, a:visited  {
  text-decoration: none;
  color: var(--dark-grey);
}

input:focus, textarea:focus {
  outline: rgba(59, 249, 112, 0.5) solid 2px;
}

form {
  width: 100%;
}

input {
  width: 100%;
  padding: 0.625em 0.75em;
  margin: 0.2em 0 1.25em 0;
  box-sizing: border-box;
  font-size: 1em;
  border: 1px solid var(--lightest-grey);
}

textarea {
  text-indent: 0px;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  border: 1px solid var(--lightest-grey);
  padding: 0.625em 0.75em;
  margin: 0.25em 0 1em 0;
  min-height: 49px;
}

label {
  font-weight: 600;
  margin-top: 1.5em;
}

button {
  width: 100%;
  background-color: var(--dark-grey);
  border: 3px solid var(--dark-grey);
  color: #fff;
  padding: 0.6em 1.5em;
  font-size: 16px;
  font-weight: 600;
  margin-top: 1em;
  transition: all 0.3s;
}

button:hover {
  opacity: 0.8;
  transition: all 0.3s;
}

button:focus {
  outline: rgba(59, 249, 112, 0.5) solid 2px;
}

button:hover {
  cursor: pointer;
}

.delete-button {
  background-color: transparent;
  color: var(--red);
  border: 3px solid var(--red);
  margin-top: 1.5em;
}

.delete-button:hover {
  background-color:rgba(239, 12, 12, 0.12);
}

/* Navbar */
nav {
  margin: 3em 0 2em 0;
}

nav a {
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  margin-right: 1.5em;
}

.logo {
  font-size: 2.125em;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 0.25em;
}

.logo span {
  color: var(--green);
}

.logout:hover {
  cursor: pointer;
}

/* Posts */
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0;
}

.meta, .meta a, .meta p {
  color: var(--light-grey);
}

.meta {
  margin: -6px 0 0 0;
}

.meta a {
  transition: all 0.25s;
}

.meta a:hover {
  color: var(--dark-grey);
  transition: all 0.25s;
}

.meta p {
  display: inline-block;
}

.meta span {
  margin: 0 4px;
}

.dashboard-posts {
  margin-top: -40px;
}

.post {
  margin-top: 48px;
}

.post h2 {
  display: inline-block;
}

.post p {
  margin-top: -3px;
}

.post-title {
  position: relative;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-header button {
  width: initial;
  padding: 0.6em 1.5em;
}

.posts-none {
  color: var(--light-grey)
}

/* Comments */
.comments {
  transform: translateY(72px); /* Keeps the page from jumping */
}

.comment {
  margin-bottom: 2.75em;
}

.comment .meta {
  margin-top: 0.5em;
}

.comment-form {
  margin-top: 1em;
}

.edit-link {
  font-weight: 600;
  margin-top: 0.5em;
  display: inline-block;
  position: relative;
}

.edit-post-form {
  margin-top: 16px;
}

/* Post modal */ 
.modal {
  display: none; 
  position: fixed; 
  z-index: 99; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal content */
.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 32px 32px 40px 32px;
  width: 80%;
}

.new-post-form {
  width: 100%;
}

.close {
  float: right;
}

.close:hover {
  cursor: pointer;
}

/* Login & Signup */
.form-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-container .logo {
  margin: 1.5em 0 1em 0;
  text-transform: uppercase;
}

.form-container a {
  font-weight: 600;
  margin-top: 1.5em;
  position: relative;
}

.form-container a:not(.logo):hover::before, .post-title:hover::before, nav a:not(.logo):hover::before, .edit-link:hover::before {
  transform: scaleX(1);
}

.form-container a:not(.logo)::before, .post-title::before, nav a:not(.logo)::before, .edit-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--green);
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.25s;
}

.form-login-text {
  margin-top: 1.5em;
}

.form-login-text p{
  display: inline;
}

.content-wrapper {
  width: 740px;
}

/* Media Queries */
@media screen and (min-width: 960px) {

  form {
    width: 450px;
  }

  .modal-content {
    width: 40%;
  }
}